#formulario{
    border: black solid 1px;
    width: 200px;
    margin: 40px auto;
    color: saddlebrown;
    background-color: whitesmoke;
}
#miDiv{
    border: black solid 1px;
    width: 300px;
    height: 50px;
    margin: 10px auto;
    color: saddlebrown;
    background-color: whitesmoke;
    text-align: center;

}
.text{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.button{
    background-color: saddlebrown ;
    color: blanchedalmond;
    margin: 10px 30%;
}
.label{
    margin: 15px;
    text-justify: auto;

}
#body{
    background-color: beige;
    width: 500px;
    height: 500px;
    margin: 0 auto;
}
#Encabezado{
    margin: 50px auto;
}